<DIV id="sel0" style="display: block">
[% FOREACH log IN battle_header %]
[% log %]
[% END %]

<TABLE BORDER=0>
<TR>
	<TD ALIGN="right">
	<br><a href="javascript:page(3)">次へ></a>

	</TD>
</TR>
</TABLE>
</DIV>

[% FOREACH log IN battle_date %]
[% log %]
[% END %]

[% FOREACH log IN battle_footer %]
[% log %]
[% END %]

</TD>
</TR>
</TABLE>
</DIV>
