<a class="btn-first" href="javascript:page(1)"><<最初</a>&nbsp;&nbsp;<a class="btn-back" href="javascript:page(2)"><戻る</a>
<a class="btn-next" href="javascript:page(3)">次へ></a>&nbsp;&nbsp;<a class="btn-last" href="javascript:page(4)">最後>></a>

<DIV id="sel0" style="display: none;">
<div class="blackboard question">
[% FOREACH log IN battle_header %]
[% log %]
[% END %]
</div>
</DIV>

[% FOREACH log IN battle_date %]
[% log %]
[% END %]

[% IF is_finished == 1 %]

<DIV id="sel[% battle_date.size %]" style="display: none;">
<div class="blackboard question">
[% FOREACH log IN battle_footer %]
[% log %]
[% END %]
</div>
</DIV>

[% ELSE %]

<div class="clearfix">
	<div class="blackboard answer float-l">
	    <p class="blink-before select-command">戦う</p>
	    <p class="select-command">逃げる</p>
	</div>
</div>

[% END %]

<form name="command" method="post">
<input type="hidden" name="mode" value="[% mode %]" />
<!--
<input type="hidden" name="id" value="[% kid %]" />
<input type="hidden" name="pass" value="[% kpass %]" />
-->
<input type="hidden" name="sel" value="[% sel + 1 %]" />

[% IF mode == "pvp" %]
<input type="hidden" name="k1id" value="[% k1id %]" />
<input type="hidden" name="k2id" value="[% k2id %]" />
[% END %]

</form>

<form name="data">
<input type="hidden" name="backid" value="0" />
<input type="hidden" name="nextid" value="1" />
<input type="hidden" name="lastid" value="[% j + 1 %]" />
</form>
<script>
const spot = "[% spot %]";
const sel = [% sel + 1 %];
</script>
<script src="/js/so_battle.js"></script>