/intermediate_data1.pl
/intermediate_data_tidy.pl
/app/cpanfile.snapshot
/file.lock*
/app/save/*.cgi
/app/save/chara.db
/app/save/*.dat
!/app/save/.gitkeep
/app/save/town/*
!/app/save/town/.gitkeep
/app/save/bank/*
!/app/save/bank/.gitkeep
/app/save/item/*
!/app/save/item/.gitkeep
/app/save/skill/*
!/app/save/skill/.gitkeep
/app/save/archive/*
!/app/save/archive/.gitkeep
/app/save/battle/*
!/app/save/battle/.gitkeep
/app/save/state/*
!/app/save/state/.gitkeep
/app/so.sqlite
/app/local