/file.lock*
/save/*.cgi
/save/chara.db
/save/*.dat
!/save/.gitkeep
/save/town/*
!/save/town/.gitkeep
/save/bank/*
!/save/bank/.gitkeep
/save/item/*
!/save/item/.gitkeep
/save/skill/*
!/save/skill/.gitkeep
/save/archive/*
!/save/archive/.gitkeep
/save/battle/*
!/save/battle/.gitkeep
/save/state/*
!/save/state/.gitkeep
/access_log/*.log
!/access_log/.gitkeep
/so.sqlite