/*
see https://fantastech.net/dragon-quest-text
 */
/* 黒板 */

.blackboard,
.jGrowl .so
{
    position: relative;
    margin: 0 auto 1.5rem;
    /*
    padding: 1.6rem 1rem;

     */
    padding: 0.4rem 1rem 1rem 1.6rem;
    font-size: 0.8rem;
    color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #fff inset;
    background-color: rgba(0,0,0,0.9);
}
.blackboard.answer p
{
    margin-left: 1.7rem;
}
.blackboard .blink-before {
    /*
    font-size: 1.2rem;

     */
}
.blackboard a {
    text-decoration: none;
    color: #fff;
}
.blackboard.answer tr::before
{
    content: '　';
    position: absolute;
    left: 1rem;
}
.blackboard .blink-before::before {
    content: '▶' !important;
    position: absolute;
    left: 1rem;
    animation: blink 1.4s infinite;
}
.blackboard p:last-of-type,
.blackboard tr:last-of-type
{
    margin-bottom: 0;
    content: '×' !important;
}
/* 回り込み */
.float-r {
    float: right;
}
.float-l {
    float: left;
}
/* 回り込み解除 */
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
/* 点滅 */
@keyframes blink {
    50% { opacity: 0; }
}
@-webkit-keyframes blink {
    50% { opacity: 0; }
}

/* ここからカスタマイズ */
.answer-menu
{
    margin-left: unset !important;
}

.select-menu,
.select-command,
.select-target-menu
{
    cursor: pointer;
}