body, pre {
    font-family: 'Kosugi Maru';
}

body,tr,td,th,table
{
    font-size: 0.8rem;
}

body
{
    margin: 0;
}

div.meter
{
    height: 10px;
}

.small {
    font-size: 0.6rem;
}
.b1 {
    /*
    background: #9ac;
    border-color: #ccf #669 #669 #ccf;
    color: #fff;
    border-style: solid;
    border-width: 1px;

     */
}
.b2 {
    /*
    background: #669;
    border-color: #99c #336 #336 #99c;
    color:#fff;
    border-style: solid;
    border-width: 1px;

     */
    text-align: center;
}
.b3 {
    /*
    background: #fff;
    border-color: #ccf #669 #669 #ccf;

     */
}
.dmg {
    color: #880000;
    font-size: 1.2rem;
}
.clit {
    color: #880000;
    font-size: 1.2rem;
}
form {
    margin-bottom: 0px;
}
input {
    font-family:Arial,Helvetica,sans-serif;
}
div.text_detail {
    font-size: 0.6rem;
}

table
{
    color: #fff;
}

.enable
{
    font-weight: bold;
    font-size: 1.0rem;
}

.item_table td,
.item_table th,
.status_table td,
.status_table th,
.shop_table td,
.shop_table th
{
    font-size: 0.6rem;
}

.item_table td.iname
{
    font-size: 0.6rem;
    cursor: pointer;
}

.non
{
    display: none;
}

#td_logout,
#td_item,
#td_status,
#td_message
{
    cursor: pointer;
}

.mini
{
    max-height: 48px;
    width: auto;
}

.battle_stage
{
    width: 320px;
    height: 240px;
    /*
    margin: 0px;
    padding: 0px;

     */
    background-image: url(/img/158e35945dfb441ed15105ed7c0e7849.png);
    background-size: contain;
}

.position-relative
{
    position: relative;
}

.float-left
{
    float: left;
}

.layer_table
{
    border-collapse: collapse;
}

.layer_table,
.layer_table tr,
.layer_table tr td
{
    margin: 0;
    padding: 0;
    border: 0;
}

#location_area
{
    overflow: hidden;
}

.menu-close
{
    font-size: 1.6rem;
}

#status
{
    z-index: 999;
}

.hp,
.name,
.card-name
{
    bottom: 0;
    /*
    position: absolute;

     */
    font-size: 0.6rem;
    text-align: right;
    text-shadow: 1px 2px 3px #000;
    color: #FFF;
}

.card-name
{
    text-shadow: 1px 2px 3px #FFF;
    color: darkslategray;
    overflow-wrap: break-word;
    padding-left: 7px;
}

.name
{
    white-space: nowrap;
    overflow:hidden;
    bottom: 10px;
    text-align: left;
}

.hp
{
    text-align: left;
}

.non-page
{
    visibility: hidden;
    display: block;
    height: 0;
}

.explore_stage
{
    background-image: url(/img/158e35945dfb441ed15105ed7c0e7849.png);
    background-size: cover;
    width: 320px;
    height: 240px;
}

.explore_stage.town
{
    background-image: url(/img/a1a38e84d6891d632929ec34499e216c.png);
}

.player
{
    vertical-align: bottom;
    left: 80px;
    position: relative;
    bottom: 14px;
    height: 48px;
    text-align: right;
}

.enemy
{
    position: relative;
    bottom: -90px;
}

.event
{
    position: relative;
    top: 2px;
    border-spacing: 2px;
    height: 186px;
}

.event-row
{
    display: table-row;
}

.card
{
    border: 1px solid white;
    display: table-cell;
    height: 86px;
    width: 57px;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.card:hover
{
    transform: scale(1.1, 1.1);
}

.card-frontend
{
    background-image: url(/img/975067-2.jpg);
    background-size: cover;
    height: 86px;
    width: 57px;
}

.card-backend
{
    background-image: url(/img/146839.png);
    background-size: cover;
    height: 86px;
    width: 57px;
    display: none;
}

.enemy1,
.enemy2,
.enemy3,
.enemy4,
.enemy5
{
    display: table-cell;
}

.player1,
.player2,
.player3,
.player4,
.player5
{
    width: 48px;
    height: 72px;
    display: table-cell;
    /*
    background-color: rgba(0, 0, 0, 0.5);

     */
    text-align: left;
}
